body {
  font-family: 'Karla', sans-serif;
  /* font-family: 'Prata', serif; */
  font-size: 18px;
  margin: 0px;
  color: #1D1D1D;
  font-style: normal;
  font-weight: normal;
}
  
::-webkit-scrollbar {
  width: 0px;
}


.header {
  background-color: #aaaaaa;
  background-image: url("https://b3lan.github.io/belan-jewelry/images/header-1920.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 0px 12.5% 0px 12.5%;
  position: relative;
  height: 100vh;
}

.header::after {
  z-index: 1;
  position: absolute;
  content: "";
  background-color: #eaddd5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.15;
}

.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding-top: 25px;
}

.social {
  fill: #1D1D1D;
  display: flex;
}

.logo {
  background-image: url("https://b3lan.github.io/belan-jewelry/images/logo.png");
  background-repeat: no-repeat;
  width: 88px;
  height: 46px;
}

.ig-icon {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  fill: #1D1D1D;
}

.ig-icon:hover {
  fill: #EADDD5;
}

.whats-icon {
  width: 40px;
  height: 40px;
  fill: #1D1D1D;
}

.whats-icon:hover {
  fill: #EADDD5;
}

.welcome {
  color: white;
  position: relative;
  display: flex;
  width: 1000px;
  z-index: 2;
  margin: 18.5% auto 40px auto;
  color: #ffffff;
  font-family: 'Prata', serif;
  font-size: 80px;
  line-height: 130%;
  font-weight: normal;
  text-align: center;
}

.button {
  position: relative;
  display: flex;
  margin: 0 auto 0px auto;
  z-index: 2;
  width: 180px;
  height: 60px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #1D1D1D;
  letter-spacing: 0.06em;
  border: none;
}

.button:hover {
  color: white;
  background-color: #1D1D1D;
}

.advantage-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: flex;
  padding-top: 200px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.picture-position {
  position: relative;
}

.advantage-pictures {
  width: 600px;
}

.number {
  position: absolute;
  top: -100px;
  right: 100px;
  
  font-family: Prata;
  font-size: 144px;
  line-height: 130%;
}

.content:nth-child(2n+2) .number {
  left: 100px;
  right: unset;
}

.advantage-content {
  /* width: 600px; */
  padding-left: 100px;
  padding-right: 100px;
}

.advantage-tag {
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
}

.advantage-title {
  margin: 186px 0 0 0;
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 130%;
}

.advantage-title:nth-child(2n+1) {
  margin-top: 200px;
}

.content-text {
  font-size: 18px;
  line-height: 170%;
  margin: 60px 0 0 0;
}

.content:nth-child(2n+2) .picture-position {
  order: 1;
}


.s-video {
  height: 45vw;
  position: relative;
  margin: 200px 0 0 0;
  background-color: #EADDD5;
}

video {
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.wwd-container .advantage-title {
  margin: 136px 0 0 0;
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 130%;
}

.wwd-container .advantage-title:nth-child(2n+1) {
  margin-top: 150px;
}

.wwd-container .advantage-pictures {
  width: 400px;
  /* object-fit: cover; */
}

.wwd-container .advantage-pictures::after {
  content: "(https://b3lan.github.io/belan-jewelry/images/logo.png)";
  width: 40px;
  /* object-fit: cover; */
}

.addit {
  position: absolute;
  top: 50%;
  left: 75%;
}

.wwd-container .content:nth-child(2n) .addit {
  left: unset;
  right: 75%;
}

.faq {
  background-color: #EADDD5;
  margin-top: 200px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.faq-container {
  display: flex;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.faq .advantage-title {
  margin-top: unset;
  width: 300px;
}

.faq-content {
  max-width: 200px;
  margin-left: 100px;
  margin-right: auto;
}

.faq-content-title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 170%;
}

.faq .content-text {
  margin-top: 30px;
  text-decoration: none;
}

.faq-content a {
  color: #1D1D1D;
}

.faq-content a:hover {
  color: white;
}

.about-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 200px;
}

.feedback-container {
  position: relative;
  max-width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 200px auto;
  display: flex;
  justify-content: flex-end;
}

.feedback-form {
  padding: 50px;
  width: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  background-color: #EADDD5;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.feedback-container .advantage-title {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
}

.field {
  box-sizing: border-box;
  width: 500px;
  margin: 10px 0;
  
  padding: 15px 25px;
  height: 60px;
  background-color: #ffffff;
  border: none;

  font-family: inherit;
  font-size: 18px;
  line-height: 170%;
}

.textarea {
  min-width: 500px;
  max-width: 500px;
  min-height: 120px;
  max-height: 250px;
}

.checkbox-group {
  margin-top: 10px;
  text-decoration: none;
  display: flex;
}

.checkbox-text {
  display: inline-block;
  font-family: inherit;
  font-size: 12px;
  line-height: 130%;
}

.checkbox-text::before {
  margin-right: 10px;

  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background-size: 20px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
}

/* .checkbox:focus ~ .checkbox-text::before {
  outline: 2px solid #1d1d1d;
  outline-offset: 2px;
} */

.checkbox:checked ~ .checkbox-text::before {
  background-image: url("https://b3lan.github.io/belan-jewelry/images/Vector1.svg");
  background-color: white;
}

.checkbox {
  position: absolute;
  clip: rect(1px 1px 1px 1px); 
  height: 1px;
  width: 1px;
}

.feedback-container .button {
  margin: 20px 0 0 0;
}

.feedback-image {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 75vw;
  height: 37.5vw; */
}

.ig-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.ig-feed {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}

.ig-content {
  width: 21.25%;
  height: 21.25%;
}

.ig-content:nth-child(n+5) {
  margin-top: 5%;
}

.ig-photo {
  width: 100%;
  height: 100%;
}

.ig-container .advantage-content {
  width: 500px;
}

.ig-container .button {
  margin: 60px 0 0 0;
  border: 1px solid #1D1D1D;
}

.footer {
  background-color: #EADDD5;
  padding: 100px 0 10px;
  display: flex;
  flex-direction: column;
}

.footer-container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 200px;
}

.footer-nav-container {
  margin-top: 50px;
  display: flex;
  padding-bottom: 187px;
}

.footer-nav {
  margin-right: 100px;
}


.content-nav {
  margin: 20px 0 0 0;
  list-style: none;
  padding: 0;
  display: block;
}

.list {
  margin: 0;
  padding-bottom: 10px;
}


.list-nav {
  text-decoration: none;
  color: #1D1D1D;
  font-size: 18px;
  line-height: 170%;
}

.copyright {
  font-size: 12px;
  line-height: 130%;
  text-align: center;
}